<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 基本的表格</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row" >
        <div class="col-sm-3"
            style="background-color: #dedef8;
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">筛选车型
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% if route %}
                  {% for index in route %}
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="">{{index.route}}路</a>
        </li>
        {% endfor %}
                    {% endif %}
    </ul>
</div><!-- end of dropdown -->
            <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">设置每页数据量
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% if list %}
                  {% for index in list %}
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url 'bus_info:reset_table_size' index %}">设置为每页{{ index }}个数据</a>
        </li>
        {% endfor %}
                    {% endif %}
    </ul>
</div><!-- end of dropdown -->
        </div>
        <div class="col-sm-9">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>车牌号</th>
                  <th>线路</th>
                  <th>车队</th>
                  <th>车型</th>
                  <th>发动机号</th>
                    <th>车架号</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% if bi_list %}
                  {% for bi in bi_list %}
                <tr>
                    <td>{{ bi.car_id }}</td>
                    <td>{{bi.route}}</td>
                    <td>{{bi.team}}</td>
                    <td>{{bi.cartype}}</td>
                    <td>{{bi.en_num}}</td>
                    <td>{{bi.car_num}}</td>
                    <td><a href="{% url 'bus_info:detail' bi.id %}">详细</a></td>
                  {% endfor %}
                    {% endif %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div><!-- end row_1 -->
    <div class="row" >
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
        {% if is_paginated %}
    <div class="pagination center-block">
        <span class="col-sm-3">共{{ page_obj.paginator.num_pages }}页</span>
        <span id="paging" class="col-sm-6">
            {% if page_obj.has_previous %}
            <span><a href="?page={{ page_obj.previous_page_number }}">上一页</a></span>
            {% endif %}
            <span>{{ page_obj.number }}</span>
            <span class="active">{{ page_obj.number }}</span>
            <span>{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
            <span><a href="?page={{ page_obj.next_page_number }}">下一页</a></span>
            {% endif %}
        </span>
    </div>
        {% endif %}
</div>

    </div>
</div>
    <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					模态框（Modal）标题
				</h4>
			</div>
			<div class="modal-body">
				在这里添加一些文本
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script>
function saveButton(){
	alert("Welcome");
}
</script>
</body>
</html>